/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,button,input,select,textarea {
color:#222;
}
html {
font-size:1em;
line-height:1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}
::selection {
background: #b3d4fc;
text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,canvas,img,video {
vertical-align:middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
border:0;
margin:0;
padding:0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
resize:vertical;
}

/* ==========================================================================
   Main styles
   ========================================================================== */
html{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-user-select: none;-webkit-touch-callout:none; background:#ffffff;}

/*-- Content Wrapper -- */
#mainHolder{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; text-align:center; width:100%; max-width:800px; margin:auto; font-size:15px;}
#mainHolder .header{ font-size:60px; font-weight:bold; margin:50px 0;}
#mainHolder .button{ font-size:15px; background:#39C; border-bottom:#06C solid 5px; padding:10px 20px; width:100%; color:#FFF; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; cursor:pointer; text-align:center; margin:5px 0;}
#mainHolder .buttonCenter{margin:auto;}
#mainHolder .buttonThreeColumn{margin:auto; float:left; width:21%; margin:5px 2%;}

#mainHolder .secondHeader{ font-size:40px; font-weight:bold; margin:50px 0;}
#mainHolder .thirdHeader{ font-size:25px; font-weight:bold; margin:0;}
#mainHolder pre{ text-align:left; width:100%; font-size:12px; color:#666;}

.sectionHolder{ margin:50px 0 100px;}
.canvasHolder{ margin:30px 0;}
.buttonHolder{ width:70%; margin:auto;}
.buttonSingleHolder{ width:20%; margin:auto;}
.setupHolder{ text-align:left; margin:50px 0 100px; width:80%; border:#CCC solid 1px; margin:auto; padding:5% 10%;}

.editHolder{ text-align:left; width:70%; margin: 50px auto 100px;}
.editHolder .leftContent{ width:35%; float:left;}
.editHolder .rightContent{ width:65%; float:left;}
.editHolder .editActionHolder{ margin-top:100px;}

.ignorePadding{-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */}

/*-- Canvas Wrapper -- */
#canvasHolder{ display:none; width:100%; max-width:1024px; height:100%; margin:auto; position:relative;}
#gameCanvas{ position:absolute;}

#wineSlider, #vodkaSlider, #beerSlider{ margin:auto; }
#wine-handle, #vodka-handle, #beer-handle {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}

.wrapper{ position:relative; width:300px; margin:auto; }
.wrapper .columnL{ float:left; width:70%; }
.wrapper .columnR{ float:left; width:15%; padding-left:15%; }
.wrapper .columnR input{ width:100%; text-align:center; }


@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

@media screen and (max-width:500px){
	#mainHolder .header{ font-size:40px;}
	#mainHolder .secondHeader{ font-size:30px;}
	#mainHolder .thirdHeader{ font-size:20px;}
	.setupHolder{ width:95%;}
	#mainHolder .buttonThreeColumn{width:45%;}
	.buttonSingleHolder{ width:35%;}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
background-color: transparent;
border: 0;
overflow: hidden;
/* IE 6/7 fallback */
*text-indent: -9999px;
}

.ir:before {
content: "";
display: block;
width: 0;
height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
display: none !important;
visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,.clearfix:after{
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after{
clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix{
*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print{
* {
background:transparent!important;
color:#000!important;
box-shadow:none!important;
text-shadow:none!important;
}

a,a:visited {
text-decoration:underline;
}

a[href]:after {
content:" (" attr(href) ")";
}

abbr[title]:after {
content:" (" attr(title) ")";
}

.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
content:"";
}

pre,blockquote {
border:1px solid #999;
page-break-inside:avoid;
}

thead {
display:table-header-group;
}

tr,img {
page-break-inside:avoid;
}

img {
max-width:100%!important;
}

@page {
margin:.5cm;
}

p,h2,h3 {
orphans:3;
widows:3;
}

h2,h3 {
page-break-after:avoid;
}
}
